@tailwind base;
@tailwind components;
@tailwind utilities;

html:before {
  content: "";
  position: fixed;
  z-index: -1;
  inset: -75%;
  background: conic-gradient(#4356ce, #1b2b92);
  animation: spin 4s linear infinite;
}

body {
  @apply text-white
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}